@model Product

<link href="~/css/detailsCard.css" rel="stylesheet" />

<div class="containerDetails">
    <div class="wrapper">
        <div class="product-img">
            <img src="@Model.ThumbnailImage" alt="@Model.ProductName" height="420" width="327">
        </div>
        <div class="product-info">
            <div class="product-text">
                <h1>@Model.ProductName</h1>
                <h2>by AsianStore</h2>
                <p>@Model.ShortDescription</p>
            </div>
            <div class="block_quantity clearfix">
                <span class="text_specification">Quantity</span>
                <div class="block_quantity__chooseBlock">
                    <input class="block_quantity__number" name="quantityNumber"
                           type="number" min="1" value="1" max="15">
                    <button type="button" class="btn btn-success">+</button>
                    <button type="button" class="btn btn-warning">-</button>
                </div>
            </div>
            <div class="product-price-btn">
                <p><span>@Model.Price</span>$</p>
                <button type="button">buy now</button>
            </div>
        </div>
    </div>

</div>


